name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: actions/cache@v2.1.4
        name: Load cached files
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Check Maven version
        run: |
          chmod +x mvnw
          ./mvnw --version
      - name: Test task with Gradle Wrapper
        run: |
          ./mvnw -T 4 surefire-report:report
      - name: Upload test reports
        uses: actions/upload-artifact@v2
        with:
          path: 'target/site'
          name: test-reports
          retention-days: 7